.Home {
  background-color: #5dccfc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  &__conteiner {
    padding: 10px;
  }
  &__image {
    width: 55%;
    height: 55%;
  }
  &__title {
    margin-bottom: 12px;
    font-weight: bold;
  }
  &__text {
    color: F5F5F5;
    font-weight: medium;
    margin-bottom: 20px;
  }
  &__wave-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(150px + 2vmin);
    background-image: url("/assets/images/wave.svg");
    background-size: cover;
  }
}
